<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @await RenderSectionAsync("styles",false)
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Implicit M2M - ASP.NET Core- Identity</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Roles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Users">Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container my-4">
        @RenderBody()
    </div>


    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        let jqueryValidatioSettings = { validClass: "is-valid", errorClass: "is-invalid" };
        $.validator.setDefaults(jqueryValidatioSettings);
        $.validator.unobtrusive.options = jqueryValidatioSettings;
    </script>
    @await RenderSectionAsync("scripts", false)
</body>
</html>
